:root {
  // colors
  --eigengrau: #16161d;
  --blue: #3c80e0;
  --blue-50: #3c80e080;
  --white: #fff;
  --white-10: #ffffff20;

  // animations
  --animation-time: 1.5s;
}

html,
body,
main {
  min-height: 100%;
}

body {
  font-size: 16px;
  color: var(--white);
  font-family: sans-serif;
  background-color: var(--eigengrau);
}

main {
  display: grid;
  overflow: clip;
  padding: 1rem 2rem;
  place-content: center;
}

h1 {
  text-align: center;
  margin: 0 0 1rem 0;
}

// Screen readers only (accessibility)
.sr-only {
  width: 0;
  height: 0;
  opacity: 0;
}

.form {
  gap: 2rem;
  display: grid;
  margin-bottom: 2rem;
  place-content: center;

  label {
    text-align: center;
  }

  .input {
    font-size: 1.5rem;
    text-align: center;
    min-width: min(40ch, 100%);
  }

  .buttons {
    gap: 1rem;
    display: flex;
    justify-content: center;
  }

  button {
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 9vw;
    color: var(--white);
    padding: 0.8rem 3rem;
    transition: 0.15s all;
    outline-color: transparent;
    background-color: var(--blue);
    border: 2px solid var(--white);

    &[type="reset"] {
      color: var(--blue);
      border-color: var(--blue);
      background-color: var(--eigengrau);

      &:hover {
        color: var(--white);
        border-color: var(--blue);
        background-color: var(--blue);
      }
    }

    &:hover {
      color: var(--blue);
      border-color: var(--blue);
      background-color: var(--eigengrau);
    }
    &:focus-visible {
      outline: 0.2rem solid var(--white);
    }
    &:active {
      filter: brightness(2);
    }
    &:disabled {
      opacity: 0.5;
      box-shadow: none;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.result {
  display: grid;
  overflow: clip;
  font-size: 2rem;
  position: relative;
  aspect-ratio: 1;
  place-items: center;
  margin-inline: auto;
  border-radius: 99vw;
  min-width: min(30rem, 100%);
  border: 3px solid var(--blue);
  animation-duration: var(--animation-time);
  // Verbose background declarations for legibility
  background-size: 1% 1%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: radial-gradient(var(--blue) 0%, var(--eigengrau) 10%);

  &.animate {
    animation: ripple var(--animation-time);
  }

  &.slide-inward {
    .letter {
      opacity: 0;
      transition-duration: 2s;

      &.show {
        animation: dissolve var(--animation-time) forwards;
      }

      // &.vowel {
      // need to implement a animation to indicate that vowels
      // are removed and not used in the sigil
      // }
    }
  }

  .letter {
    --translation: -14rem;
    margin: 0;
    opacity: 0.1;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.15s, transform 0.3s ease-in;

    @media (max-width: 590px) {
      --translation: -34vw;
    }

    &.show {
      opacity: 1;
      text-shadow: 1px 1px 10px var(--blue);
    }

    @for $i from 0 through 27 {
      &:nth-child(#{$i}) {
        --angle: calc(360deg / 26 * #{$i});

        // Note that it is important that the rotate comes before translate
        transform: rotate(var(--angle)) translateY(var(--translation));
      }
    }
  }

  svg {
    max-width: 100%;
    > * {
      position: absolute;
      stroke: var(--white);
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: drawLine 2s ease forwards;
    }
  }
}

@keyframes ripple {
  50% {
    background-size: 700% 700%;
  }
}

@keyframes dissolve {
  100% {
    opacity: 0;
    transform: rotate(var(--angle)) translateY(0);
  }
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
